:root {
  /* CSS에서 변수처럼 사용 가능*/
  --color_title: #080808;
  --color_title_rgb: 8, 8, 8;
  --color_body: #101010;
  --color_body_rgb: 16, 16, 16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64, 64, 64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96, 96, 96;
  --color_search: #000;
  --color_search_rgb: 0, 0, 0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227, 229, 232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235, 235, 235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235, 235, 235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235, 235, 235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218, 220, 223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211, 213, 215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255, 255, 255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244, 246, 250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245, 247, 248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250, 251, 251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255, 255, 255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255, 255, 255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255, 255, 255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255, 255, 255;
  --color_news: #3a67ea;
  --color_news_rgb: 58, 103, 234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144, 154, 171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79, 103, 214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244, 54, 30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229, 56, 226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242, 241, 251;
  --color_sports: #1f65ef;
  --color_sports_rgb: 31, 101, 239;
  --color_sports_bg: #f4f7fe;
  --color_sports_bg_rgb: 244, 247, 254;
  --color_econ: #008f76;
  --color_econ_rgb: 0, 143, 118;
  --color_calendar: #eb5b5b;
  --color_calendar_rgb: 235, 91, 91;
  --color_dic: #031f5f;
  --color_dic_rgb: 3, 31, 95;
}

* {
  box-sizing: border-box;
}

html,
body {
  /* user agent stylesheet 초기화 작업 */
  font-size: 10.5px;
  line-height: 10.5px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  letter-spacing: -0.4px;
}

form,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
#wrap {
  text-align: center;
}

#wrap-center {
  width: 1280px;
  display: inline-block;
}

#main {
  height: 2000px;
}

#header {
  text-align: left;
  position: relative;
  height: 70px;
}

#header-hamburger,
#header-pay,
#header-talk,
#header-notice {
  width: 46px;
  padding: 10px;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
}

#header-hamburger:hover::before,
#header-pay:hover::before,
#header-talk:hover::before,
#header-notice:hover::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  top: 1px;
  left: 1px;
  background-color: var(--color_option_bg);
  border-radius: 50%;
}

#header-hamburger > div,
#header-pay > a,
#header-talk > div,
#header-notice > div {
  background-image: url(./sp_main.png);
  background-repeat: no-repeat;
  background-size: 435px 414px;
  width: 26px;
  height: 26px;
  position: relative;
  z-index: 1;
}

#header-hamburger {
  left: -10px;
}

#header-hamburger > div {
  background-position: -82px -329px;
}

#header-pay {
  padding: 7px;
  left: 43px;
}

#header-pay > a {
  display: block;
  background-position: -295px -177px;
  width: 32px;
  height: 32px;
}

#header-talk {
  right: 40px;
}

#header-talk > div {
  background-position: -190px -329px;
}

#header-notice {
  right: -10px;
}

#header-notice > div {
  background-position: -136px -329px;
}

#header-notice-alram {
  position: absolute;
  top: 6px;
  right: 0px;
  background-color: #f4361e;
  min-width: 20px;
  padding: 0px 5px;
  z-index: 1;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  font-size: 1.1rem;
  line-height: 18px;
  font-weight: bold;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#search > form {
  display: inline-flex;
  width: 708px;
  height: 60px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  text-align: left;
}

#search > form:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#search-svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 100%;
  margin-right: 12px;
  /* padding: 17px 17px 17px 27px; */
  padding-left: 10px;
  position: relative;
}

#search-svg::after {
  display: none;
}

#search > form:focus-within #search-svg::after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #e4e4e4;
  display: inline-block;
  position: absolute;
  right: 0;
}

#search-svg:focus::after {
  background-color: #e4e4e4;
}

#search-svg svg {
  fill: #03c75a;
  width: 24px;
  height: 24px;
}

#search-right {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  /* flex 값이 없고 width값을 가진 형제 요소들을 존중해 주면서 flex 박스의 남은 공간을 전부 차지하겠다.*/
  flex: 1;
}

#search-input {
  width: 480px;
  height: 100%;
  padding: 17px 0px;
  border: none;
  outline: none;
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
  color: var(--color_search);
}

#search-input::placeholder {
  color: transparent;
}

#search-input:focus::placeholder {
  font-weight: normal;
  color: #e4e4e4;
}

#search-right > button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#search-keyboard::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -226px -254px;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

#search-keyboard:hover::before {
  filter: brightness(0.7);
}

#search-recent::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -133px -201px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}

#search-button {
  padding: 17px 27px 16px 10px;
}

#search-button::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -295px -329px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
#nav {
  margin: 12px;
}

#nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 20px;
}

#nav a:visited {
  color: black;
}

#nav a div {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 0 auto;
}

#nav a div::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: 0px -128px;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
}

#nav a div::after {
  content: "";
  z-index: 1;
  position: relative;
  margin: 2px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  display: inline-block;
}

#nav li {
  margin-left: 4px;
  width: 64px;
}

#nav li span {
  display: inline-block;
  margin-top: 7px;
}

#nav li:nth-of-type(1) {
  margin-left: 0;
}

#nav li:nth-of-type(1) a div::after {
  background-position: -250px -90px;
}

#nav li:nth-of-type(2) a div::after {
  background-position: -250px 0px;
}

#nav li:nth-of-type(3) a div::after {
  background-position: -201px -98px;
}

#nav li:nth-of-type(4) a div::after {
  background-position: -90px -209px;
}

#nav li:nth-of-type(5) a div::after {
  background-position: 0px -209px;
}

#nav li:nth-of-type(6) a div::after {
  background-position: -180px -209px;
}

#nav li:nth-of-type(7) a div::after {
  background-position: -45px -209px;
}

#nav li:nth-of-type(8) a div::after {
  width: 48px;
  height: 48px;
  margin: 0;
  /* marin을 주면 after의 이미지와 before의 이미지 사이에 미세한 margin이 생겨서 after의 이미지가 끊겨보임.*/
  background-position: -201px 0px;
}

#nav li:nth-of-type(9) a div::after {
  background-position: -225px -209px;
}

#nav li:nth-of-type(10) a div::after {
  background-position: -250px -135px;
}
#main {
  display: flex;
  margin-top: 51px;
  /*267-{70(header)+60(serach)+75(nav)+12(search와 nav사이 margin)}= 50px*/
  /*1px은 어디서 생김?*/
}

#main-left {
  width: 830px;
  margin-right: 30px;
}

#main-right {
  width: 420px;
}

aside[id$="ad"] {
  background-color: gray;
  border-radius: 8px;
  margin-bottom: 16px;
}

#main-left-ad {
  height: 130px;
}

#main-right-ad {
  height: 240px;
}

section[id^="main"] {
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
}

#main-login {
  height: 164px;
  padding: 21px 20px 18px;
  font-size: 1.4rem;
  line-height: 20px;
}

#main-login-button {
  padding: 17px 0;
  background-color: #03c75a;
  display: block;
  border-radius: 4px;
  margin-top: 13px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#main-login-button i {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -120px -166px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
  display: inline-block;
  margin: 3px 8px 0 0;
  vertical-align: top;
}
#main-id-pw-signup {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
#main-id-pw-signup a {
  color: var(--color_caption2);
  font-size: 1.3rem;
}
#main-id-pw-signup a:hover {
  text-decoration: underline;
}
#main-id-pw-signup a:nth-of-type(2)::before,
#main-id-pw-signup a:nth-of-type(2)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: var(--color_dot_divider);
  margin: 4px 12px 0;
}

#main-newsstand {
  height: 426px;
  display: flex;
  flex-flow: column;
}
.top {
  flex: 1;
}
.top header {
  padding: 18px 20px 17px;
  display: flex;
  line-height: 1.7rem;
  height: 58px;
  align-items: center;
}
.top header ul {
  list-style: none;
  font-size: 1.6rem;
  line-height: 23px;
  display: flex;
}

.top header ul li {
  display: inline-block;
  position: relative;
  padding-left: 26px;
}
.top header ul li:nth-of-type(1) {
  padding-left: 0;
}
#main-newsstand .top header ul li:nth-of-type(2) {
  padding-left: 0;
}
.dot::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color_dot_divider);
  vertical-align: top;
  margin: 9px 7px;
}
.top header ul li:hover {
  text-decoration: underline;
}

.slash::before {
  content: "";
  width: 1px;
  height: 15px;
  display: inline-block;
  background-color: var(--color_dot_divider);
  position: absolute;
  top: 4px;
  left: 13px;
  transform: skewX(-15deg);
}

.top header ul li a {
  color: rgba(8, 8, 8, 0.5);
  font-weight: 800;
}
.top .bold {
  color: var(--color_title);
  font-weight: 800;
}
#sub-header {
  margin: 0 20px;
  padding: 12px 20px;
  background-color: var(--color_option_bg);
  border-radius: 4px;
  line-height: 26px;
  font-size: 1.4rem;
  display: flex;
}
#sub-header .left {
  position: relative;
  display: flex;
  flex: 1;
}
#sub-header .left > a:first-of-type {
  display: inline-block;
  width: 85.5px;
}
#sub-header .left > a:first-of-type::after {
  content: "";
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -154px -201px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
  display: inline-block;
  margin: 10px 0 0 5px;
  vertical-align: top;
}
#main-newsstand-animation {
  position: relative;
  padding-left: 25px;
  height: 26px;
}
#main-newsstand-animation::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  width: 1px;
  height: 12px;
}
#main-newsstand-animation a:first-of-type {
  vertical-align: top;
}
#main-newsstand-animation > a:last-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 400px;
  /* inline-block 사이에 여백을 없애기 위해 margin값을 -로 준다 */
  margin-left: -5px;
}
#main-newsstand-animation > a:last-of-type::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 12px 6px 0 6px;
  border-radius: 50%;
  vertical-align: top;
}
#sub-header .right {
  display: flex;
}
#sub-header .right a:last-of-type {
  position: relative;
  padding-left: 25px;
}
#sub-header .right a:last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
}
#main-newsstand-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 790px;
  height: 224px;
  grid-template-columns: repeat(6, 1fr); /* 너비를 6등분*/
  grid-template-rows: repeat(4, 1fr); /* 높이 56px 짜리 4행*/
  border: 1px solid var(--color_border_in);
  margin: 18px 20px 18px 20px;
  border-radius: 4px;
  grid-gap: 1px;
  background-color: var(--color_border_in);
}
#main-newsstand-grid > div {
  height: 100%;
  background-color: #fff;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-newsstand footer {
  padding: 10px 0 11px;
  border-top: 1px solid var(--color_border_in);
  display: flex;
  justify-content: center;
  position: relative;
}
#main-newsstand footer > div:first-of-type {
  color: #606060;
  color: var(--color_caption2);
  display: inline-block;
  min-width: 156px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  line-height: 35px;
  font-weight: 600;
  vertical-align: top;
}
#main-newsstand footer > div:first-of-type > span {
  font-size: 1.3rem;
}
#main-newsstand footer > div:first-of-type > span:last-of-type {
  color: rgba(96, 96, 96, 0.5);
}
#main-newsstand footer .view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
}
#main-newsstand footer .list,
#main-newsstand footer .grid {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  height: 56px;
  width: 49px;
}
#main-newsstand footer .list {
  padding: 18px 9px 18px 20px;
}
#main-newsstand footer .grid {
  padding: 18px 20px 18px 9px;
}
#main-newsstand footer .list::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -257px -356px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
#main-newsstand footer .list:hover::before {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -236px -356px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
#main-newsstand footer .grid::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -389px -147px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
#main-newsstand footer .grid:hover::before {
  background-position: -389px -126px;
}

#main-newsstand footer #news {
  color: var(--color_news);
}
#main-newsstand footer > button {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--color_button_border);
  background-color: var(--color_button1_bg);
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
#main-newsstand footer > button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
#main-newsstand footer > button::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b96eea2.png);
  background-size: 434px 414px;
  background-position: -165px -402px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
}
#main-newsstand footer > button:first-of-type::before {
  transform: rotate(180deg);
}
#main-shopping {
  height: 560px;
}

#main-webtoon {
  height: 1375px;
}

.main-wheather-and-stock {
  height: 236px;
  padding: 0 18px;
}

.main-wheather-and-stock > header {
  padding: 6px 0;
  height: 52px;
  display: flex;
  align-items: center;
}

.main-wheather-and-stock a {
  font-size: 1.5rem;
  font-weight: 800;
}

.main-wheather-and-stock div {
  border-bottom: 1px solid var(--color_border_in);
}

#main-widget {
  height: 806px;
}

#main-whale {
  height: 80px;
}
